<!--body-->
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 1rem;
    line-height:1.5;
    color: black;
    overflow-x: hidden;
}
.navbar{
    z-index: 3;
    background: rgba(0,0,0,0.3);
}
nav ul li {
    display: inline-block;
    padding-top: 1rem;
    margin: 0 15px;
    color: white;
}

.nav-icon{
    font-size: 1.5rem;
}
.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}
.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(48, 47, 47);
    z-index: 1;
    opacity: 0.7;
}
.header-content{
    z-index: 2;
    align-items: center;
    text-align: center;
    padding-top: 12rem;
}
.header-content h1{
    font-size: 40px;
    color: white;
}
.header-content h3{
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media(max-width:960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.toppings{
    padding: 2rem;
}
.text{
    text-align: center;
    padding-top: 4rem;

}
.text:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%);
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: black;
}
.text h1{
    padding-top: 2rem;
}
.sizes{
    text-align: center;
}
.img1, .img2, .img3 {
    padding-top: 2rem;
}
.btn-sm{
    background-color: orange;
    outline: orange;
}
.unique{
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.container1{
    background-image: url(../img/toUse.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.8;
    padding: 4rem;
    border: solid black;
    margin: 6rem;
}
h3{
    font-size: 17px;
}
#noOfPizzas{
    width: 12rem;
}
#size, #crust{
    background:orange;
    color: white;
    width: 10rem;
    height: 2rem;
}
#locationbtn, #total, #orderbtn {
    background:orange;
    color: white;
}
#location{
    width: 15rem;
}